---
layout: layout.njk
title: Exterior Carpentry
permalink: "/Exterior Carpentry/"
description: Custom fences, decks, soffits, and fascia repairs built to last through Alberta’s seasons.
button_title: "Call (403) 470-8666"
button_link: "tel:4034708666"
tags: posts
icon: "/assets/icons/fence-regular-full.svg"
image_url : "/assets/images/Carpentry.png" 
---
<div class="govuk-width-container">
  <hr>
<h2 class="govuk-heading-l" >Services</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <strong>Fences and Decks</strong><br>
      Enhance your property with custom-built fences and decks that combine durability, safety, and curb appeal.
    </li>
    <li>
      <strong>Soffit &amp; Fascia Repairs</strong><br>
      Protect your home’s roofline with repaired or replaced soffits and fascia, improving ventilation and appearance.
    </li>
  </ul>
</div>