---
layout: layout.njk
title: Skylights and Ventilation
permalink: "/skylights-and-Ventilation/"
description: Improve airflow and natural light with leak-free skylight and roof vent solutions.
button_title: "Call (403) 470-8666"
button_link: "tel:4034708666"
tags: posts
icon: "/assets/icons/chimney-regular-full.svg"
image_url : "/assets/images/skylights.png" 
---

<div class="govuk-width-container">

 <hr>
<h2 class="govuk-heading-l" >Services</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>
      <strong>Skylight Replacement / Leak Repairs</strong><br>
      We replace or repair skylights to restore light, comfort, and waterproof performance to your space.
    </li>
    <li>
      <strong>Ventilation: Roof Vents</strong><br>
      Our roof vent upgrades improve airflow, reduce attic heat, and prevent condensation-related damage.
    </li>
    <li>
      <strong>Bathroom Fan Sealing / Leak Repair</strong><br>
      Ensure bathroom exhausts are properly sealed and vented through the roof to avoid moisture buildup.
    </li>
    <li>
      <strong>Residential Ventilation</strong><br>
      Balanced attic ventilation is key to energy efficiency — we inspect and install vents to maintain a healthy airflow system.
    </li>
  </ul>
</div>