<footer class="govuk-footer" style="min-height: 120px;background-image: url(/assets/images/Maple-Leaf-2.png)">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
     
        
      
      <div class="govuk-grid-column-one-third">
        <p class="govuk-label" >
          <strong>Phone</strong>
        </p>
        <p  class="govuk-body">
          <strong>
            <a class="govuk-link" href="tel:4034708666">(403) 606-5084</a>
          </strong>
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <p class="govuk-label" >
          <strong>Email</strong>
        </p>
        <p  class="govuk-body">
          <strong>
            <a class="govuk-link" href="mailto:info@picturesqueexteriors.ca">info@picturesqueexteriors.ca</a>
          </strong>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-label" >
            <strong>Socials</strong>
          </p>
          <p  class="govuk-body">
            <strong>
              <a class="govuk-link" href="https://www.instagram.com/picturesqueexteriors/">Instagram</a>
            </strong>
          </p>

        </div>
</div>
      </div>
      <p style="text-align:center;">Copyright © 2025 picturesqueexteriors.ca All Rights Reserved.<p></div>
      </footer>