<div class="landing overlay-landing">
  <div class="landing-background">
    {% if image_url %}
      <img src={{image_url}} alt={{description}} class="landing-bg-image"/>
    {% endif %}
    <div class="landing-overlay"></div>
  </div>
  <div class="landing-content-overlay">
    <div class="govuk-width-container">
      <div class="landing-text-overlay">
        {% include "partials/breadcrumbs.njk" %}
        
        <h2 style="margin:30px 0;max-width:35rem" class="govuk-heading-xl">{{title}}</h2>
        <h2 class="govuk-body-lead">{{description}}</h2>

        {% if button_title %}
          <a style="margin-top:30px" href={{button_link}} class="govuk-button govuk-button--start">{{button_title}}</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
