<div class="landing" style="padding-bottom:40px;">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half" >
        {% include "partials/breadcrumbs.njk" %}

        <h2 style="margin:30px 0;max-width:35rem" class="govuk-heading-xl">{{title | safe}}</h2>
        <h2 class="govuk-body-lead">{{description}}</h2>

        {% if button_title %}
          <a style="margin-top:30px" href={{button_link}} class="govuk-button govuk-button--start">{{button_title}}</a>
        {% endif %}
      </div>
      <div class="govuk-grid-column-one-half">
        {% if image_url %}
        <div class="image-grid" style="min-height:420px">
           <img  src={{image_url}} alt={{description}}/>
           <img  style="height: 80%;
    align-self: end;width:80%;" src={{image_url}} alt={{description}}/>
           <img style="height: 80%;
    align-self: start;width: 80%;
    justify-self: end;"src={{image_url}} alt={{description}}/>
          <img  src={{image_url}} alt={{description}}/>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
